body {
  min-width: 960px;
  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.page-header {
  margin-bottom: 59px;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 40px;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;
}

.page-logo--footer {
  min-height: 60px;
  padding-top: 2px;
  font-size: 30px;
}

.page-logo:hover,
.page-logo:focus {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0 0 #9a212a;
}

.page-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0 0 #8e1e26;
}

.page-title {
  width: 290px;
  margin: 0;
  padding-top: 3px;
  padding-left: 53px;
  padding-right: 33px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #ee3643;
  box-sizing: border-box;
}

.top-bar {
  color: #ffffff;
  background-color: #293449;
}

.top-bar__nav {
  display: flex;
  flex-direction: row;
  height: 42px;
}

.top-bar__search {
  position: relative;
  flex-grow: 1;
}

.top-bar__input {
  width: 100%;
  height: 100%;
  padding-left: 48px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.top-bar__input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.top-bar__input:hover {
  background-color: #212a3a;
}

.top-bar__input:active,
.top-bar__input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.top-bar__icon-search {
  position: absolute;
  top: 50%;
  left: 17px;
  fill: white;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0.3;
}

.top-bar__input:hover + .top-bar__icon-search {
  opacity: 1;
}

.top-bar__input:active + .top-bar__icon-search,
.top-bar__input:focus + .top-bar__icon-search {
  fill: #ee3643;
  opacity: 1;
}

.top-bar__link {
  position: relative;
  display: flex;
  align-items: center;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  color:#ffffff;
  background-color: #293449;
  box-sizing: border-box;
}

.top-bar__link:hover,
.top-bar__link:focus {
  background-color: #212a3a;
}
.top-bar__link:active {
  opacity: 0.5;
}

.top-bar__link--bookmark {
  position: relative;
  padding-left: 45px;
}

.top-bar__link--cart {
  position: relative;
  padding-left: 50px;
}

.top-bar__link--carts {
  background-color: #ee3643;
}

.top-bar__link--carts:hover,
.top-bar__link--carts:focus {
  background-color: #ca2c37;
}

.top-bar__link--carts:active {
  background-color: #ba2732;
}

.top-bar__link--bookmark::before,
.top-bar__link--cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0.3;
}

.top-bar__link--bookmark::before {
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
}

.top-bar__link--cart::before {
  width: 15px;
  height: 17px;
  background-image: url(../img/icon-cart.svg);
}

.top-bar__link--bookmark:hover::before,
.top-bar__link--bookmark:focus::before,
.top-bar__link--cart:hover::before,
.top-bar__link--cart:focus::before,
.top-bar__link--carts::before {
  opacity: 1;
}

.top-bar__link--order {
  justify-content: center;
  background-color: #63a63e;
}

.top-bar__link--order:hover,
.top-bar__link--order:focus {
  background-color: #5fbb2d;
}
.top-bar__link--order:active {
  opacity: 0.5;
}

.top-bar__link:active {
  opacity: 0.5;
}

.header-info {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 37px;
}

.header-contacts {
  width: 270px;
  margin-right: 20px;
}

.header-contacts__tel {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 47px;
  padding: 10px;
  padding-left: 30px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #e9292a;
  border: solid 3px #ffffff;
  box-sizing: border-box;
}

.header-contacts__tel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0.3;
}

.header-contacts__tel:hover::before,
.header-contacts__tel:focus::before {
  opacity: 1;
}

.header-contacts__address {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-nav {
  display: flex;
  justify-content: right;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__link {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding: 12px 24px 13px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  vertical-align: middle;
  background-color: #ffffff;
}

.user-nav__link--login {
  position: relative;
  padding-left: 47px;
  padding-right: 26px;
}

.user-nav__link--login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0.1;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #ee3643;
}

.user-nav__link--login:hover::before,
.user-nav__link--login:focus::before {
  opacity: 1;
}

.user-nav__link:active {
  color: rgba(0,0,0,0.3);
}

.user-nav__link--login:active::before {
  opacity: 0.3;
}

.user-nav__user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.user-nav__link--user {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 47px;
  margin-left: 0;
  padding-left: 47px;
  padding-right: 0;
  box-sizing: border-box;
}

.user-nav__link--user::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 14px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-nav__link--user:hover::before,
.user-nav__link--user:focus::before {
  opacity: 1;
}

.user-nav__link--user:active::before {
  opacity: 0.3;
}

.user-nav__link--logout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  margin-left: 0;
  padding: 0;
  font-size: 0;
}

.user-nav__link--logout::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 10px;
  width: 21px;
  height: 17px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-nav__link--logout:hover::after,
.user-nav__link--logout:focus::after {
  opacity: 1;
}

.user-nav__link--logout:active::after {
  opacity: 0.3;
}

.user-nav__set {
  padding: 0;
  list-style: none;
}

.user-nav__item {
  position: relative;
  display: inline-block;
  padding-top: 2px;
  padding-left: 19px;
  padding-right: 12px;
  vertical-align: middle;
}

.user-nav__item::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -8px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-nav__item:last-child {
  padding-left: 16px;
}

.user-nav__item:last-child::after {
  display: none;
}

.user-nav__link-set {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-nav__link-set:hover,
.user-nav__link-set:focus {
  color: #ee3643;
}

.user-nav__link-set:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 60px;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  box-sizing: border-box;
}

.main-nav__link {
  display: inline-block;
  padding: 20px 0;
  padding-left: 29px;
  padding-right: 32px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  color: #ffffff;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #212a3a;
}

.main-nav__link:active {
  opacity: 0.5;
}

.section__wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.section__heading {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0;
  background-color: #f9f5f0;
}

.section__title {
  margin: 30px 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.section__title--other {
  margin-left: 0;
  margin-bottom: 2px;
}

.section__text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 24px;
}

.section__link {
  width: 250px;
  margin: 25px;
}

.promo {
  color: #ffffff;
  margin-bottom: 32px;
}

.promo__goods {
  display: flex;
  justify-content: space-between;
}

.promo__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 23px;
  background-color: #808080;
  box-sizing: border-box;
}

.promo__item::before {
  content: "";
  position: absolute;
  top: 50%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.promo__item--small {
  position: relative;
  width: 300px;
  height: 123px;
}

.promo__item--big {
  width: 620px;
  height: 266px;
}

.promo__item--orange {
  background-color: #ffbf47;
}

.promo__item--orange::before {
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/promo-materials.svg");
}

.promo__item--blue {
  background-color: #3bbce3;
}

.promo__item--blue::before {
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/promo-tools.svg");
}

.promo__item--purple {
  background-color: #dc91d8;
}

.promo__item--purple::before {
  right: 30px;
  width: 78px;
  height: 62px;
  background-image: url("../img/promo-technics.svg");
}

.promo__item--green {
  background-color: #8ed78f;
}

.promo__item--green::before {
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/promo-sale.svg");
}

.promo__item--yellow {
  background-color: #ffc047;
}

.promo__item--yellow::before {
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/promo-delivery.svg");
}

.promo__item--new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.promo__link {
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.promo__link:hover,
.promo__link:focus {
  background-color: rgba(0,0,0,0.2);
}

.promo__link:active {
  background-color: rgba(0,0,0,0.3);
}

.promo-slider {
  position: relative;
  padding: 0;
}

.promo-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slider__item {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 25px 23px;
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.promo-slider__item:nth-child(1) {
  background-image: url("../img/promo-slider-1.jpg");
}

.promo-slider__item:nth-child(2) {
  background-image: url("../img/promo-slider-2.jpg");
}

.promo-slider__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider__text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.promo-slider__link {
  width: 195px;
  padding-top: 11px;
  padding-bottom: 7px;
}

.promo-slider__btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  transform: translate(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

.promo-slider__btn--back {
  left: 24px;
}

.promo-slider__btn--back::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 7px;
  width: 26px;
  height: 26px;
  border: 3px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.promo-slider__btn--next {
  right: 18px;
}

.promo-slider__btn--next::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 7px;
  width: 26px;
  height: 26px;
  border: 3px solid #ffffff;
  border-bottom-style: none;
  border-left-style: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.promo-slider__controls {
  position: absolute;
  left: 50%;
  bottom: 30px;
  font-size: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.promo-slider__label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.promo-slider__label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#slide-1:checked ~ .promo-slider__list .promo-slider__item:nth-child(1),
#slide-2:checked ~ .promo-slider__list .promo-slider__item:nth-child(2) {
  display: flex;
}

#slide-1:checked ~ .promo-slider__controls .promo-slider__label--1::after,
#slide-2:checked ~ .promo-slider__controls .promo-slider__label--2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  margin: -3px;
  background-color: #ee3643;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.goods {
  margin-bottom: 0;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods__item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #eaeaea;
  box-sizing: border-box;
}

.goods__item--index:not(:nth-child(4n)) {
  margin-right: 20px;
}

.goods__item--catalog:not(:nth-child(3n)) {
  margin-right: 20px;
}

.goods__item:hover,
.goods__item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods__item--new::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  z-index: 10;
}

.goods__item--new .goods__price--old {
  visibility: hidden;
}

.goods__image {
  padding: 22px 0;
}

.goods__actions {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 44px 0;
  background-color: #ffffff;
  z-index: 1;
}

.goods__item:hover .goods__actions {
  display: block;
}

.goods__btn {
  position: relative;
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-sizing: border-box;
}

.goods__btn--buy {
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
}

.goods__btn--buy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 15px;
  height: 17px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0.3;
}

.goods__btn--buy:hover,
.goods__btn--buy:focus {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.goods__btn--buy:hover::before,
.goods__btn--buy:focus::before {
  opacity: 1;
}

.goods__btn--buy:active {
  background-color: #518534;
  border: 3px solid #518534;
  border-bottom-color: none;
}

.goods__btn--bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.goods__btn--bookmark:hover,
.goods__btn--bookmark:focus {
  border: 3px solid #32425c;
}
.goods__btn--bookmark:active {
  opacity: 0.3;
}

.goods__title {
  margin-top: 11px;
  margin-bottom: 0;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
}

.goods__price {
  width: 80px;
  margin: 0 auto;
  padding: 11px 28px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.goods__price--old {
  text-decoration: line-through;
  color: #a9a9a9;
}

.goods__price--new {
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.goods__price--new::after {
  content:"";
  position: absolute;
  top: 0;
  right: -23px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.brands {
  margin-bottom: 65px;
}

.brands .section__heading {
  margin-top: 0;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.brands__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.brands__item:nth-child(4n) {
  justify-content: flex-start;
  margin-right: 0;
}

.brands__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  box-sizing: border-box;
}

.brands__link:last-child {
  margin-right: 0;
}

.brands__link:hover,
.brands__link:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands__link:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands__link:active {
  opacity: 0.3;
}

.services {
  background-color: #f4f7f9;
}

.section__heading--services {
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 35px;
  background-color: transparent;
}

.services__desc {
  position: relative;
  display: flex;
  margin-top: 41px;
}

.services__list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 285px;
}

.services__list::after {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 10px;
  height: 100%;
  background-image: url(../img/service-shadow.png);
}

.services__item {
  width: 240px;
  padding: 20px 22px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  background-color: #32425c;
  box-sizing: border-box;
}

.services__item:hover,
.services__item:focus {
  background-color: #293449;
  cursor: pointer;
}

.services__info {
  display: none;
  width: 100%;
  padding-left: 80px;
}

.services__info--delivery {
  background-image: url(../img/service-delivery.png);
  background-repeat: no-repeat;
  background-position: 230px 25px;
}

.services__info--guarantee {
  background-image: url(../img/service-guarantee.png);
  background-repeat: no-repeat;
  background-position: 320px 5px;
}

.services__info--credit {
  background-image: url(../img/service-credit.png);
  background-repeat: no-repeat;
  background-position: 235px 0;
}

.services__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.services__text {
  width: 400px;
  margin: 25px 0;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 24px;
}

#services-delivery:checked ~ .services__list .services__item--delivery,
#services-guarantee:checked ~ .services__list .services__item--guarantee,
#services-credit:checked ~ .services__list .services__item--credit {
  color: #32425c;
  background-color: #ffffff;
}

#services-delivery:checked ~ .services__info--delivery,
#services-guarantee:checked ~ .services__info--guarantee,
#services-credit:checked ~ .services__info--credit {
  display: block;
}

.services__btn {
  width: 195px;
  padding: 10px 0;
}

.partners {
  margin-top: -4px;
  padding-left: 36px;
  list-style: none;
}

.partners__item {
  position: relative;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}

.partners__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about {
  display: flex;
  justify-content: space-between;
  min-height: 390px;
  margin-top: 50px;
  margin-bottom: 86px;
}

.about-us {
  width: 540px;
}

.about-us__more {
  width: 220px;
  padding: 10px 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts .section__text {
  width: 200px;
}

.contacts__map {
  margin-top: 5px;
  margin-bottom: 18px;
}

.contacts__form {
  margin-top: 18px;
  padding: 11px 10px 9px;
}

.page-footer {
  color: #ffffff;
  background-color: #32425c;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-info__contacts {
  margin-top: 33px;
  margin-bottom: 50px;
  padding-left: 2px;
  font-size: 18px;
  line-height: 24px;
}

.footer-info__address {
  margin: 0;
}

.footer-info__tel {
  color: #ffffff;
}


.footer-nav {
  padding-top: 1px;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav__second,
.footer-nav__promo {
  display: flex;
  justify-content: flex-end;
  margin: 35px 0;
  padding: 0;
  list-style: none;
}

.footer-nav__item {
  margin-left: 59px;
}

.footer-nav__item:first-child {
  margin-left: 0;
}

.footer-nav__link {
  color: #ffffff;
}

.footer-nav__link--promo {
  color: #ffd180;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  text-decoration: underline;
}

.footer-nav__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding: 17px 10px;
}

.footer-bottom__copyright {
  width: 230px;
}

.footer-bottom__socials {
  margin-left: 40px;
}

.socials__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.socials__item {
  margin: 1px;
}

.socials__link {
  display: flex;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.socials__link--vk {
  background-image: url(../img/social-vk.svg);
}

.socials__link--fb {
  background-image: url(../img/social-fb.svg);
}

.socials__link--in {
  background-image: url(../img/social-in.svg);
}

.socials__link:hover,
.socials__link:focus,
.socials__link:active {
  background-color: #ee3643;
}

.footer-bottom__text {
  display: flex;
  width: 300px;
}

.footer-bottom__creator {
  margin-left: 50px;
}

.footer-bottom__link {
  color: #ffd180;
}

.footer-bottom__link:hover,
.footer-bottom__link:focus {
  text-decoration: underline;
}

.footer-bottom__link:active {
  color: #ee3643;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  margin-top: -40px;
  padding-left: 9px;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  right: 18px;
  border: 1px solid #c1c6ce;
  border-bottom-style: none;
  border-left-style: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  display: inline-block;
  margin-right: 40px;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs__link--home {
  width: 15px;
  height: 15px;
  font-size: 0;
  vertical-align: middle;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.breadcrumbs__link--active {
  color: #c1c6ce;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline;
  text-decoration-color: #ee3643;
  -moz-text-decoration-color: #ee3643;
}

.breadcrumbs__link--home:hover,
.breadcrumbs__link--home:focus {
  opacity: 1;
}

.breadcrumbs__link:active,
.breadcrumbs__link--home:active {
  opacity: 0.3;
}

.breadcrumbs__link--active:hover,
.breadcrumbs__link--active:focus,
.breadcrumbs__link--active:active {
  text-decoration: none;
  opacity: 1;
}

.catalog .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__sort {
  padding: 10px 20px;
  background-color: #f7f3ec;
}

.catalog__catalog {
  width: 700px;
}

.catalog__goods {
  margin-top: 20px;
  margin-bottom: 40px;
}

.catalog__pagination {
  margin-bottom: 70px;
}

.catalog__title {
  width: 100%;
  margin: 20px 0;
  padding: 30px 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  box-sizing: border-box;
}

.catalog__bottom {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 46px;
  background-color: #f2f6f8;
}

.catalog__desc {
  margin: 23px 0;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 24px;
}

.filter {
  width: 220px;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter__title {
  margin: 0;
  padding: 10px 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f7f3ec;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.filter__fieldset {
  position: relative;
  margin-top: 17px;
  margin-bottom: 18px;
  padding: 0;
  border: none;
}

.filter__fieldset:first-child {
  margin-bottom: 26px;
}

.filter__legend {
  width: 100%;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
}

.filter__fieldset:not(:first-child) .filter__legend {
  padding-top: 24px;
  border-top: 1px solid #e5e5e5;
}

.filter__range {
  position: relative;
  height: 41px;
  margin-bottom: 8px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.filter__scale {
  height: 2px;
  background: #d7dcde;
}

.filter__scale-bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.filter__toggle {
  position: absolute;
  top: 50%;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

.filter__toggle--min {
  left: 0;
}

.filter__toggle--min {
  left: 73%;
}

.filter__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__input-range {
  width: 95px;
  padding: 11px 10px 9px;
  font-size: 17px;
  text-align: center;
  box-sizing: border-box;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.filter__input-check,
.filter__input-radio {
  display: none;
}

.filter__label-check,
.filter__label-radio {
  position: relative;
  display: block;
  margin-bottom: 14px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 33px;
  cursor: pointer;
}

.filter__label-check:last-child,
.filter__label-radio:last-child {
  margin-bottom: 0;
}

.filter__label-check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/icon-checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter__input-check:checked + .filter__label-check::before {
  display: none;
}

.filter__input-check:checked + .filter__label-check::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/icon-checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.7;
}

.filter__label-radio::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 17px;
  height: 17px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.7;
}

.filter__input-radio:checked + .filter__label-radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: #c5c5c5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.7;
}

.filter__input-check:hover + .filter__label-check::before,
.filter__input-check:hover + .filter__label-check::after,
.filter__input-radio:hover + .filter__label-radio::before,
.filter__input-radio:hover + .filter__label-radio::after {
  opacity: 1;
}

.filter__btn {
  width: 140px;
  margin-top: 72px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: transparent;
  border: 1px solid #bdc6ca;
}

.filter__btn:active {
  border: 1px solid #ee3643;
}

.sort {
  display: flex;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort__title {
  width: 220px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sort__list,
.sort__direction {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort__list {
  justify-content: space-between;
  flex-grow: 1;
}

.sort__item:not(:first-child):not(:last-child) {
  margin-left: 44px;
}

.sort__link {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dashed #ee3643;
}

.sort__link:hover,
.sort__link:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort__link:active,
.sort__link--active {
  color: #ee3643;
  border-bottom: none;
}

.sort__btn {
  display: inline-block;
	width: 0;
	height: 0;
  margin-left: 20px;
  font-size: 0;
  vertical-align: middle;
}

.sort__btn--up {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #c5c5c5;
}

.sort__btn--up:hover,
.sort__btn--up:focus {
	border-bottom: 10px solid #000000;
}

.sort__btn--down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #c5c5c5;
}

.sort__btn--down:hover,
.sort__btn--down:focus {
	border-top: 10px solid #000000;
}

.sort__btn--active,
.sort__btn--active:hover,
.sort__btn--active:focus {
  border-bottom: 10px solid #ee3643;
}

.pagination__list {
  display: flex;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;;
}

.pagination__link {
  margin-right: 9px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.pagination__item:last-child .pagination__link {
  padding: 10px 30px;
}

.pagination__link:hover,
.pagination__link:focus {
  border: solid 1px #bdc6ca;
}

.pagination__link:active {
  border: solid 1px #ee3643;
}

.pagination__link--current {
  color: #ffffff;
  background-color: #ee3643;
  border: solid 1px #ee3643;
}

.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link--current:active {
  border: solid 1px #ee3643;
}

.modal-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  height: 280px;
  background-color: #fff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.modal-cart__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 20px;
  padding-left: 100px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.modal-cart__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 65px;
  height: 65px;
  background-color: #63a63e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.modal-cart__text::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 23px;
  width: 15px;
  height: 30px;
  border: 5px solid #ffffff;
  border-left-style: none;
  border-top-style: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.modal-cart__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.modal-cart__order {
  width: 220px;
  margin-right: 30px;
}

.modal-cart__continue {
  width: 220px;
  color: #000000;
  background-color: #ffffff;
}

.modal-cart__continue:hover,
.modal-cart__continue:focus {
  background-color: #ffffff;
  border: solid 2px #ee3643;
}

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  justify-content: space-between;
  width: 620px;
  height: 420px;
  background-color: #fff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.modal-feedback__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.modal-feedback__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 80px;
}

.modal-feedback__label {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 18px;
}

.modal-feedback__label:last-child {
  margin-right: 0;
}

.modal-feedback__input {
  width: 220px;
  margin-top: 10px;
  padding: 10px 15px;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 13px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-sizing: border-box;
}

.modal-feedback__input:hover {
  border-color:  #b5b5b5;
}

.modal-feedback__input:active,
.modal-feedback__input:focus {
  border: solid 2px #ee3643;
}

.modal-feedback__textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px 15px;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 18px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-sizing: border-box;
  resize: none;
}

.modal-feedback__input::placeholder,
.modal-feedback__textarea::placeholder {
  color: #a9a9a9;
}

.modal-feedback__input:hover,
.modal-feedback__textarea:hover {
  border-color:  #b5b5b5;
}

.modal-feedback__input:active,
.modal-feedback__textarea:active,
.modal-feedback__input:focus,
.modal-feedback__textarea:focus {
  border: solid 2px #ee3643;
}

.modal-feedback__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: #f1f1f1;
}

.modal-feedback__btn {
  width: 100%;
  margin: 0 80px;
}
.modal-map {
	position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 940px;
  height: 446px;
  background: url(../img/map-big.jpg) 0 0 no-repeat;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  z-index: 100;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 6px;
  width: 24px;
  height: 24px;
  font-size: 0;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 24px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.modal-close::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background-color: transparent;
	z-index: 10;
}

.modal-show {
  display: flex;
}
