body {
  font-family: "Cuprum", Arial, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.page-header {
  padding-bottom: 60px;
  margin-bottom: 60px;
  background-color: #f4f7f9;
}

.page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 40px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;
}

.page-logo--footer {
  min-height: 60px;
}

.page-logo:hover,
.page-logo:focus {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0 0 #9a212a;
}

.page-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0 0 #8e1e26;
}

.page-title {
  width: 300px;
  margin: 0;
  padding: 0 40px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #ee3643;
  box-sizing: border-box;
}

.top-bar {
  color: #ffffff;
  background-color: #293449;
}

.top-bar__nav {
  display: flex;
  flex-direction: row;
  height: 42px;
}

.top-bar__search {
  position: relative;
  flex-grow: 1;
}

.top-bar__input {
  width: 100%;
  height: 100%;
  padding-left: 45px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.top-bar__input:hover {
  background-color: #212a3a;
}

.top-bar__input:active,
.top-bar__input:focus {
  color: #000000;
  background-color: #ffffff;
}

.top-bar__icon-search {
  position: absolute;
  top: 50%;
  left: 17px;
  fill: white;
  opacity: 0.3;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.top-bar__input:hover + .top-bar__icon-search {
  opacity: 1;
}

.top-bar__input:active + .top-bar__icon-search,
.top-bar__input:focus + .top-bar__icon-search {
  fill: #ee3643;
  opacity: 1;
}

.top-bar__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  color:#ffffff;
  background-color: #293449;
}

.top-bar__link:hover,
.top-bar__link:focus {
  background-color: #212a3a;
}
.top-bar__link:active {
  opacity: 0.5;
}

.top-bar__link--order {
  background-color: #63a63e;
}

.top-bar__link--order:hover,
.top-bar__link--order:focus {
  background-color: #5fbb2d;
}
.top-bar__link--order:active {
  opacity: 0.5;
}

.top-bar__icon-bookmark,
.top-bar__icon-cart {
  position: absolute;
  top: 50%;
  left: 17px;
  fill: white;
  opacity: 0.3;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.top-bar__link:hover > .top-bar__icon-bookmark,
.top-bar__link:hover > .top-bar__icon-cart,
.top-bar__link:focus > .top-bar__icon-bookmark,
.top-bar__link:focus > .top-bar__icon-cart {
  opacity: 1;
}
.top-bar__link:active {
  opacity: 0.5;
}

.header-info {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.header-contacts {
  width: 270px;
}

.header-contacts__tel {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #e9292a;
  border: solid 3px #ffffff;
  box-sizing: border-box;
}

.header-contacts__icon-phone {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #b7bfc8;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header-contacts__tel:hover > .header-contacts__icon-phone {
  fill: #32425c;
}

.header-contacts__address {
  padding: 6px 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-nav {
  display: flex;
  justify-content: right;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__link {
  position: relative;
  display: inline-block;
  padding: 13px 23px;
  margin-left: 10px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-nav__link--login {
  padding-left: 45px;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #ee3643;
}

.user-nav__link:active {
  color: rgba(0,0,0,0.3);
}

.user-nav__icon-login {
  position: absolute;
  top: 50%;
  left: 14px;
  fill: #c5c5c5;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.user-nav__link:hover > .user-nav__icon-login,
.user-nav__link:focus > .user-nav__icon-login {
  fill: #32425c;
}

.user-nav__link:active > .user-nav__icon-login {
  fill: #c5c5c5;
}

.user-nav__user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.user-nav__link--user {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 45px;
  padding-right: 0;
  margin-left: 0;
  box-sizing: border-box;
}

.user-nav__link--user:hover,
.user-nav__link--user:focus {
  color: #000000;
}

.user-nav__icon-user {
  position: absolute;
  top: 50%;
  left: 14px;
  fill: #c5c5c5;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.user-nav__link--user:hover > .user-nav__icon-user,
.user-nav__link--user:focus > .user-nav__icon-user {
  fill: #32425c;
}

.user-nav__link--user:active > .user-nav__icon-user {
  fill: #c5c5c5;
}

.user-nav__link--logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  margin-left: 0;
  font-size: 0;
}

.user-nav__icon-logout {
  fill: #c5c5c5;
}

.user-nav__link--logout:hover > .user-nav__icon-logout,
.user-nav__link--logout:active > .user-nav__icon-logout {
  fill: #32425c;
}

.user-nav__link--logout:focus > .user-nav__icon-logout {
  fill: #c5c5c5;
}

.user-nav__set {
  padding: 0;
  list-style: none;
}

.user-nav__item {
  position: relative;
  display: inline-block;
  padding: 8px 18px;
}

.user-nav__item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.user-nav__item:last-child::after {
  display: none;
}

.user-nav__link-set {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-nav__link-set:hover,
.user-nav__link-set:focus {
  color: #ee3643;
}

.user-nav__link-set:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-nav__list:last-child {
  justify-content: space-around;
}

.main-nav__link {
  display: block;
  padding: 20px 32px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #212a3a;
}

.main-nav__link:active {
  opacity: 0.5;
}

.section {
  margin-bottom: 20px;
}

.section__wrapper {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.section__heading {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0;
  background-color: #f9f5f0;
}

.section__title {
  margin: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.section__title--other {
  margin-left: 0;
}

.section__text {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.section__link {
  width: 250px;
  margin: 25px;
}

.promo {
  color: #ffffff;
  margin-bottom: 50px;
}

.promo__goods {
  display: flex;
  justify-content: space-between;
}

.promo__action {
  display: flex;
  flex-direction: column;
}

.promo__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 20px;
  background-color: #808080;
  box-sizing: border-box;
  z-index: 1;
}

.promo__item--small {
  position: relative;
  width: 300px;
  height: 123px;
}

.promo__item--big {
  width: 620px;
  height: 266px;
}

.promo__item--orange {
  background-color: #ffbf47;
}

.promo__item--orange::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 45px;
  width: 44px;
  height: 65px;
  background-image: url("../img/promo-materials.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.promo__item--blue {
  background-color: #3bbce3;
}

.promo__item--blue::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 75px;
  height: 61px;
  background-image: url("../img/promo-tools.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.promo__item--purple {
  background-color: #dc91d8;
}

.promo__item--purple::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 78px;
  height: 62px;
  background-image: url("../img/promo-technics.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.promo__item--green {
  background-color: #8ed78f;
}

.promo__item--green::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/promo-sale.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.promo__item--yellow {
  background-color: #ffc047;
}

.promo__item--yellow::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 78px;
  height: 63px;
  background-image: url("../img/promo-delivery.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.promo__item--new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.promo__link {
  display: inline-block;
  width: 135px;
  padding: 8px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.promo__link:hover,
.promo__link:focus {
  background-color: rgba(0,0,0,0.2);
}

.promo__link:active {
  background-color: rgba(0,0,0,0.3);
}

.promo-slider {
  position: relative;
  padding: 0;
}

.promo-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-slider__item {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.promo-slider__item:nth-child(1) {
  background-image: url("../img/promo-slider-1.jpg");
}

.promo-slider__item:nth-child(2) {
  background-image: url("../img/promo-slider-2.jpg");
}

.promo-slider__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider__text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.promo-slider__link {
  width: 195px;
  padding: 10px 0;
}

.promo-slider__btn {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transform: translate(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.promo-slider__btn--back {
  left: 25px;
}

.promo-slider__btn--back::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
  border: 3px solid #ffffff;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.promo-slider__btn--next {
  right: 25px;
}

.promo-slider__btn--next::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 9px;
  width: 30px;
  height: 30px;
  border: 3px solid #ffffff;
  border-bottom-style: none;
  border-left-style: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.promo-slider__btn--next:active {
  
}

.promo-slider__controls {
  position: absolute;
  left: 50%;
  bottom: 35px;
  font-size: 0;
  transform: translateX(-50%);
}

.promo-slider__label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
}

.promo-slider__label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#slide-1:checked ~ .promo-slider__list .promo-slider__item:nth-child(1),
#slide-2:checked ~ .promo-slider__list .promo-slider__item:nth-child(2) {
  display: flex;
}

#slide-1:checked ~ .promo-slider__controls .promo-slider__label--1::after,
#slide-2:checked ~ .promo-slider__controls .promo-slider__label--2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  margin: -3px;
  background-color: #ee3643;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.goods__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.goods__item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-bottom: 20px;
  font-family: PT Sans;
  text-align: center;
  border: solid 1px #eaeaea;
}

.goods__item:hover,
.goods__item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods__item--new::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  z-index: 10;
}

.goods__item--new .goods__price--old {
  visibility: hidden;
}

.goods__actions {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 1;
}

.goods__item:hover .goods__actions {
  display: block;
}

.goods__btn {
  position: relative;
  display: block;
  width: 129px;
  padding: 7px 0;
  margin: 0 auto;
  margin-bottom: 7px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-sizing: border-box;
}

.goods__btn--buy {
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
}

.goods__btn--buy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 15px;
  height: 17px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0.3;
}

.goods__btn--buy:hover,
.goods__btn--buy:focus {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.goods__btn--buy:hover::before,
.goods__btn--buy:focus::before {
  opacity: 1;
}

.goods__btn--buy:active {
  background-color: #518534;
  border: 3px solid #518534;
  border-bottom-color: none;
}

.goods__btn--bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.goods__btn--bookmark:hover,
.goods__btn--bookmark:focus {
  border: 3px solid #32425c;
}
.goods__btn--bookmark:active {
  opacity: 0.3;
}

.goods__title {
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
}

.goods__price {
  width: 80px;
  margin: 0 auto;
  padding: 11px 30px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.goods__price--old {
  text-decoration: line-through;
  color: #a9a9a9;
}

.goods__price--new {
  position: relative;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.goods__price--new::after {
  content:"";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.brands__list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.brands__item {
  margin-right: 17px;
  margin-bottom: 20px;
}

.brands__item:nth-child(4n) {
  justify-content: flex-start;
  margin-right: 0;
}

.brands__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
}

.brands__link:last-child {
  margin-right: 0;
}

.brands__link:hover,
.brands__link:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands__link:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands__link:active {
  opacity: 0.3;
}

.services {
  /* padding: 30px 0; */
  background-color: #f4f7f9;
}

.section__heading--services {
  flex-direction: column;
  background-color: transparent;
}

.services__desc {
  position: relative;
  display: flex;
}

.services__list {
  display: flex;
  flex-direction: column;
  min-height: 280px;
}

.services__item {
  width: 240px;
  padding: 18px 22px;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  box-sizing: border-box;
}

.services__item:hover,
.services__item:focus {
  background-color: #293449;
  cursor: pointer;
}

.services__info {
  display: none;
  width: 100%;
  padding-left: 80px;
  /* padding-bottom: 140px; */
}

.services__info--delivery {
  background-image: url(../img/service-delivery.png);
  background-repeat: no-repeat;
  background-position: 200px 0;
}

.services__info--guarantee {
  background-image: url(../img/service-guarantee.png);
  background-repeat: no-repeat;
  background-position: 300px 0;
}

.services__info--credit {
  background-image: url(../img/service-credit.png);
  background-repeat: no-repeat;
  background-position: 200px 0;
}

.services__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.services__text {
  width: 400px;
  margin: 25px 0;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

#services-delivery:checked ~ .services__list .services__item--delivery,
#services-guarantee:checked ~ .services__list .services__item--guarantee,
#services-credit:checked ~ .services__list .services__item--credit {
  color: #32425c;
  background-color: #ffffff;
}

#services-delivery:checked ~ .services__info--delivery,
#services-guarantee:checked ~ .services__info--guarantee,
#services-credit:checked ~ .services__info--credit {
  display: block;
}

.services__btn {
  width: 195px;
  padding: 10px 0;
}

.partners {
  list-style: none;
}

.partners__item {
  font-size: 18px;
  line-height: 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  
}

.about-us {
  width: 540px;
}

.page-footer {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #32425c;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
}

.footer-nav__list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  list-style: none;
}

.footer-nav__item {
  margin-left: 60px;
}

.footer-nav__item:first-child {
  margin-left: 0;
}

.footer-nav__link {
  color: #ffffff;
}

.footer-nav__link--promo {
  color: #ffd180;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  text-decoration: underline;
}

.footer-nav__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-info__contacts {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
}

.footer-info__address {
  margin: 0;
}

.footer-info__tel {
  color: #ffffff;
}

.socials__list {
  padding: 0;
  list-style: none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.footer-bottom__link {
  color: #ffd180;
}

.footer-bottom__link:hover,
.footer-bottom__link:focus {
  text-decoration: underline;
}

.footer-bottom__link:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom__text {
  width: 140px;
}

.footer-bottom__copyright {
  width: 230px;
}

.breadcrumbs {
  /* padding: 0; */
  display: flex;
  margin-top: -35px;
  list-style: none;
}

.breadcrumbs__link {
  margin-right: 40px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.catalog .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__catalog {
  width: 700px;
}

.catalog__goods {
  margin-bottom: 30px;
}

.catalog__pagination {
  margin-bottom: 60px;
}

.catalog__title {
  width: 100%;
  padding: 30px;
  margin: 20px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  box-sizing: border-box;
}

.catalog__bottom {
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 0;
  background-color: #f2f6f8;
}

.catalog__info .catalog__title {
  padding: 0;
}

.catalog__desc {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.filter {
  width: 220px;
  font-family: PT Sans;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter__title {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.filter__fieldset {
  display: flex;
  flex-direction: column;
}

.filter__legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.sort {
  display: flex;
  justify-content: space-between;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort__title {
  width: 200px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sort__list,
.sort__direction {
  display: flex;
  margin: 0;
  list-style: none;
}

.sort__link {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dashed #ee3643;
}

.sort__link:hover,
.sort__link:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort__link:active,
.sort__link--active {
  color: #ee3643;
  border-bottom: none;
}

.pagination__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.pagination__link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  border: solid 1px #e5e5e5;
}

.pagination__link:hover,
.pagination__link:focus {
  border: solid 1px #bdc6ca;
}

.pagination__link:active {
  border: solid 1px #ee3643;
}

.modal-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  height: 280px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-cart__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
  line-height: 30px;
}

.modal-cart__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background-color: #f1f1f1;
}

.modal-cart__order {
  height: 30px;
  margin-right: 30px;
}

.modal-cart__continue {
  height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.modal-cart__continue:hover,
.modal-cart__continue:focus {
  background-color: #ffffff;
  border: solid 2px #ee3643;
}

.modal-feedback {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 620px;
  height: 420px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-feedback__form {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}

.modal-feedback__label {
  width: 45%;
  font-size: 18px;
  line-height: 18px;
}

.modal-feedback__input {
  width: 45%;
  border: solid 2px #d7dcde;
}

.modal-feedback__input:hover {
  border: solid 2px #b5b5b5;
}

.modal-feedback__input:active,
.modal-feedback__input:focus {
  border: solid 2px #ee3643;
}

.modal-feedback__actions {
  background-color: #f1f1f1;
}

.modal-close,
.modal-cart,
.modal-feedback,
.modal-map {
  display: none;
}